In [1]:
import pandas as pd
import numpy as np
import urllib

In [2]:
url = "https://raw.githubusercontent.com/anthonydb/practical-sql/master/Chapter_04/supervisor_salaries.csv"
counties_html = urllib.request.urlopen(url)

In [3]:
list_test = counties_html.read().decode().split('\n')

In [4]:
 df_dict = {column.strip():list() for column in list_test[0].split(',')}

In [5]:
key_list = list(df_dict.keys())
#for i in range(1,len(list_test)):
#    temp = list_test[i].split(',')
res = [[df_dict[key_list[k]].append(j.strip()) for k,j in zip(range(len(key_list)),list_test[i].split(',')) if j !=""] for i in range(1,len(list_test))]

In [6]:
for i in df_dict:
    print(len(df_dict[i]))

5
5
5

In [7]:
pd.DataFrame(df_dict)

          town supervisor salary
0      Anytown      Jones  27000
1   Bumblyburg      Baker  24999
2      Moetown      Smith  32100
3     Bigville        Kao  31500
4  New Brillig    Carroll  72690

In [8]:
list_test[-1]

''

In [9]:
pd.read_csv(r'https://raw.githubusercontent.com/anthonydb/practical-sql/master/Chapter_04/supervisor_salaries.csv').to_csv('supervisor_salaries.csv',index = False)