In [1]:
import pandas as pd
import numpy as np
import urllib

In [2]:
url = "https://raw.githubusercontent.com/anthonydb/practical-sql/master/Chapter_04/us_counties_2010.csv"
counties_html = urllib.request.urlopen(url)

In [3]:
list_test = counties_html.read().decode().split('\n')

In [4]:
 df_dict = {column.strip():list() for column in list_test[0].split(',')}

In [5]:
key_list = list(df_dict.keys())
#for i in range(1,len(list_test)):
#    temp = list_test[i].split(',')
res = [[df_dict[key_list[k]].append(j.strip()) for k,j in zip(range(len(key_list)),list_test[i].split(',')) if j !=""] for i in range(1,len(list_test))]

In [6]:
for i in df_dict:
    print(len(df_dict[i]))

3143
3143
3143
3143
3143
3143
3143
3143
3143
3143
3143
3143
3143
3143
3143
3143
3143
3143
3143
3143
3143
3143
3143
3143
3143
3143
3143
3143
3143
3143
3143
3143
3143
3143
3143
3143
3143
3143
3143
3143
3143
3143
3143
3143
3143
3143
3143
3143
3143
3143
3143
3143
3143
3143
3143
3143
3143
3143
3143
3143
3143
3143
3143
3143
3143
3143
3143
3143
3143
3143
3143
3143
3143
3143
3143
3143
3143
3143
3143
3143
3143
3143
3143
3143
3143
3143
3143
3143
3143
3143
3143

In [8]:
pd.DataFrame(df_dict)

,NAME,STUSAB,SUMLEV,REGION,DIVISION,STATE,COUNTY,AREALAND,AREAWATR,POP100,...,P0040010,P0040011,P0040012,P0040028,P0040049,P0040065,P0040072,H0010001,H0010002,H0010003
0,Autauga County,AL,050,3,6,01,001,1539582278,25775735,54571,...,22,384,363,19,2,0,0,22135,20221,1914
1,Baldwin County,AL,050,3,6,01,003,4117521611,1133190229,182265,...,141,1244,1198,46,0,0,0,104061,73180,30881
2,Barbour County,AL,050,3,6,01,005,2291818968,50864716,27457,...,5,135,132,2,0,0,1,11829,9820,2009
3,Bibb County,AL,050,3,6,01,007,1612480789,9289057,22915,...,8,120,119,1,0,0,0,8981,7953,1028
4,Blount County,AL,050,3,6,01,009,1669961855,15157440,57322,...,17,351,341,10,0,0,0,23887,21578,2309
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3138,Sweetwater County,WY,050,4,8,56,037,27004896786,166887494,43806,...,21,277,265,9,0,3,0,18735,16475,2260
3139,Teton County,WY,050,4,8,56,039,10347983791,572265729,21294,...,9,124,115,9,0,0,0,12813,8973,3840
3140,Uinta County,WY,050,4,8,56,041,5390449560,16341665,21118,...,2,164,159,4,1,0,0,8713,7668,1045
3141,Washakie County,WY,050,4,8,56,043,5797814617,10762355,8533,...,0,60,55,5,0,0,0,3833,3492,341
3142,Weston County,WY,050,4,8,56,045,6211020805,5001695,7208,...,1,54,54,0,0,0,0,3533,3021,512

In [7]:
list_test[-1]

''

In [11]:
pd.read_csv(r'https://raw.githubusercontent.com/anthonydb/practical-sql/master/Chapter_04/us_counties_2010.csv').to_csv('us_counties_2010.csv',index = False)